@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'TT Norms Pro';
    src: url('./app/assets/fonts/Fontspring-DEMO-tt_norms_pro_condensed_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'TT Norms Pro';
    src: url('./app/assets/fonts/Fontspring-DEMO-tt_norms_pro_condensed_normal.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  body {
    overflow: hidden;
  }

  * {
    font-family: 'TT Norms Pro', sans-serif;
  }